[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www
Group=www-data
WorkingDirectory=/home/admin1/work/Education/python/django-business-logic/src
ExecStart=/home/admin1/work/Education/python/django-business-logic/env/bin/gunicorn --workers 3 --bind unix:/home/admin1/work/Education/python/django-business-logic/gunicorn/gunicorn.sock config.wsgi:application --access-logfile /home/admin1/work/Education/python/django-business-logic/gunicorn/access.log --error-logfile /home/admin1/work/Education/python/django-business-logic/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
